@font-face{
	font-family:century-regular;
	src:url(../fuentes/GOTHIC.TTF);
}

@font-face{
	font-family: century-bold;
	src:url(../fuentes/GOTHICB.TTF);
}

@font-face{
	font-family: CaviarDreams;
	src:url(../fuentes/CaviarDreams.TTF);
}